{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0]}}. Go to <a href="{{ url_for('authBp.login')}}">Login</a>"
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="mb-3">
                <div id="emailHelp" class="form-text">
                    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="email"
                        name="email" placeholder="Email">
                </div>
            </div>

            <div class="mb-3">
                <div class="control">
                    <input class="form-control" type="text" name="nome" placeholder="Nome" autofocus="">
                </div>
            </div>

            <div class="mb-3">
                <div for="exampleInputPassword1" class="form-label">
                    <input class="form-control" id="exampleInputPassword1" type="password" name="password"
                        placeholder="Senha">
                </div>
            </div>

            <button class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}